button {
  @include button-forme;
  background: linear-gradient(
    to right,
    $CyanInsideCall-to-actionGradient,
    $BlueInsideCall-to-actionGradient
  );
  color: $White;
  font-family: "Raleway", sans-serif;
  font-size: 700;
  &:hover {
    background: $CyanInsideCall-to-actionGradient;
  }
}
