form {
  border-radius: 10px;
  padding: 2rem 1rem;
  margin: 8rem 1.6rem 0 1.6rem;
  z-index: 10;
  position: absolute;
  bottom: -190rem;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  p,
  input {
    margin-bottom: 2rem;
  }
  input {
    @include button-forme;
  }
  input,
  button {
    width: 90%;
  }
  input::placeholder {
    color: rgb(182, 180, 180);
    padding: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  form {
    margin-left: 20%;
    bottom: -127rem;
    width: 50%;
    button {
      width: 50%;
      margin-left: 2rem;
    }
  }
  .form {
    display: flex;
    justify-content: space-around;
  }
}
