.section-form {
  position: relative;
}

form {
  border-radius: 10px;
  padding: 2rem 1rem;
  width: 90%;
  z-index: 10;
  position: absolute;
  bottom: -12rem;
  left: 5%;
  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  p,
  input {
    margin-bottom: 2rem;
  }
  input {
    @include button-forme;
  }
  input,
  button {
    width: 90%;
  }
  input::placeholder {
    color: rgb(182, 180, 180);
    padding: 2rem;
  }
}
.invalid-text {
  display: none;
}

input:required:valid {
  .form {
    position: relative;
    &::after {
      position: absolute;
      content: "Please enter a valid email address";
      color: red;
      bottom: 0;
      left: 2rem;
    }
  }
  .invalid-text {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  form {
    bottom: -9rem;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    button {
      width: 50%;
      margin-left: 2rem;
    }
  }
  .form {
    display: flex;
    justify-content: space-around;
  }
}
