section {
  padding: $paddingMobileBloc;
}

.introduction__bloc,
.service,
.productive,
.testimonials__card {
  img,
  p {
    margin-bottom: 2rem;
  }
}
// MEDIA SCREEN ***********************************************************
@media screen and (min-width: 1200px) {
  section {
    padding: $paddingDesktopBloc;
  }
  .introduction {
    width: 100%;
    padding: 0 25%;
    P {
      padding: 20rem 5.5rem 0rem 5.5rem;
      font-size: 1rem;
    }
    .introduction__bloc {
      > h1 {
        margin-top: 20rem;
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 6rem;
    width: 65%;
    margin: 8rem auto 0;
  }
  .productive {
    margin: 0rem 5%;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    img {
      grid-row: 1/4;
      grid-column: 1;
    }
    > h2 {
      align-self: end;
      font-size: 2rem;
      line-height: 2.5rem;
      grid-column: 2/4;
      span {
        display: block; // permet le retour à la ligne dans un titre
      }
    }
    p {
      grid-column: 2/4;
      margin-bottom: 0;
    }
  }
  .testimonials {
    margin: 10%;
    display: flex;
    .testimonials__card {
      margin-right: 3rem;
      z-index: 1;
    }
  }
  .testimonials__card::before {
    content: url(" ../images/bg-quotes.png ");
    transform: scale(1);
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    z-index: 0;
  }
}
// MEDIA SCREEN FIN***********************************************************

.introduction__bloc,
.productive {
  > img {
    width: 90%;
  }
}

.productive h2 br {
  display: none;
}

.service,
.productive {
  h2 {
    margin-bottom: 1rem;
  }
  > .service__card {
    margin-bottom: 5rem;
  }
}

.productive h2,
.productive p,
.productive a {
  text-align: left;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.introduction,
P {
  margin: 0 0.5rem 2.5rem 0.5rem;
}

.introduction__bloc {
  height: 27rem;
  width: 100%;
  position: relative;
  .introduction__illustration {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .curvy {
    z-index: 0;
    position: absolute;
    margin-top: -2rem;
    width: 150%;
    left: -5rem;
    top: 17rem;
  }
  h1 {
    position: absolute;
    z-index: 2;
    top: 18rem;
  }
}

.productive a {
  color: $CyanInsideCall-to-actionGradient;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  font-family: "Raleway", sans-serif;
  > img {
    margin: 0 0 0 0.5rem;
    transform: translateY(25%);
    transform: scale(1.5);
  }
}
.service img {
  transform: scale(0.8);
}

.productive {
  P {
    font-size: 0.9rem;
  }
}

.productive,
h2 {
  font-size: 1.1rem;
}

.testimonials {
  position: relative;
  padding-top: 3rem;
  margin-bottom: 15rem;
}

.testimonials__card::before {
  content: url(" ../images/bg-quotes.png ");
  transform: scale(0.35);
  position: absolute;
  top: 2rem;
  left: 2.5rem;
}

.testimonials__card,
form {
  background: $DarkBlueTestimonialsBackground;
}

.testimonials__card {
  text-align: left;
  border-radius: 15px;
  width: 100%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  font-size: 10px;
  line-height: 1.3rem;
  > .testimonials__card--id {
    display: grid;
    grid-template-columns: 2rem 2fr;
    grid-gap: 0 0.5rem;
    img {
      height: 2rem;
      border-radius: 50%;
      grid-column: 1;
      grid-row: 1/3;
      justify-content: center;
    }
    img,
    p {
      margin-bottom: 0;
    }
    em {
      font-weight: 700;
      font-style: normal;
    }
  }
}
