section {
  margin: $MarginMobileBloc;
}

.introduction__bloc,
.service,
.productive,
.testimonials__card {
  img,
  p {
    margin-bottom: 2rem;
  }
}

.introduction__bloc,
.productive {
  > img {
    width: 90%;
  }
}

.service,
.productive {
  h2 {
    margin-bottom: 1rem;
  }
  > .service__card {
    margin-bottom: 5rem;
  }
}

.service img {
  transform: scale(0.8);
}

.productive {
  h2 {
    font-size: 1.1rem;
  }
  P {
    font-size: 0.9rem;
  }
}

.productive h2,
.productive p,
.productive a {
  text-align: left;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.introduction__bloc {
  h1 {
    margin-bottom: 2rem;
    font-size: x-large;
    line-height: 2.5rem;
  }
  p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.productive a {
  color: $CyanInsideCall-to-actionGradient;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  font-family: "Raleway", sans-serif;
  > img {
    margin: 0 0 0 0.5rem;
    transform: translateY(25%);
    transform: scale(1.5);
  }
}

.testimonials {
  position: relative;
  padding-top: 3rem;
  &::before {
    content: url(" ../images/bg-quotes.png ");
    transform: scale(0.35);
    position: absolute;
    top: 2rem;
    left: 1rem;
  }
}

.testimonials__card,
form {
  background: $DarkBlueTestimonialsBackground;
}

.testimonials__card {
  text-align: left;
  border-radius: 15px;
  width: 85%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  font-size: 10px;
  line-height: 1.3rem;
  > .testimonials__card--id {
    display: grid;
    grid-template-columns: 2rem 2fr;
    grid-gap: 0 0.5rem;
    img {
      height: 2rem;
      border-radius: 50%;
      grid-column: 1;
      grid-row: 1/3;

      justify-content: center;
    }
    img,
    p {
      margin-bottom: 0;
    }
    em {
      font-weight: 700;
      font-style: normal;
    }
  }
}
